In [1]:
import pandas as pd

data_frame = pd.read_csv('final_df.csv')

,Unnamed: 0,school,sex,age,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,0,0,0,3,0,0,4,4,0,4,...,0,0,3,2,3,0,0,2,6,3
1,1,0,0,2,0,1,1,1,0,2,...,1,0,4,2,2,0,0,2,4,3
2,2,0,0,0,1,1,1,1,0,2,...,1,0,3,2,1,1,2,2,10,7
3,3,0,0,0,0,1,4,2,1,3,...,1,1,2,1,1,0,0,4,2,12
4,4,0,0,1,0,1,3,3,2,2,...,0,0,3,2,1,0,1,4,4,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,1,1,5,1,0,2,2,3,3,...,0,0,4,4,3,3,4,3,11,6
391,391,1,1,2,1,1,3,1,3,3,...,1,0,1,3,4,2,3,1,3,13
392,392,1,1,6,0,1,1,1,2,2,...,0,0,4,4,2,2,2,2,3,4
393,393,1,1,3,1,1,3,2,3,2,...,1,0,3,3,0,2,3,4,0,7
394,394,1,1,4,1,1,1,1,2,0,...,1,0,2,1,2,2,2,4,5,6

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.formula.api as smf

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
#create model for radio
linear_reg = smf.ols(formula='G3 ~ sex + age + famsize + Pstatus + Medu + Fedu + Mjob + Fjob + guardian + traveltime + studytime+ failures + schoolsup + famsup + paid + activities + nursery + higher + internet + romantic + famrel + freetime + goout + Dalc + Walc + health + absences', data=data_frame).fit()
linear_reg.params

Intercept     6.297487
sex           0.978448
age          -0.273103
famsize       0.684266
Pstatus      -0.469753
Medu          0.460997
Fedu          0.055813
Mjob         -0.175435
Fjob          0.202191
guardian      0.027734
traveltime   -0.291367
studytime     0.483774
failures     -1.327696
schoolsup    -1.510177
famsup       -0.710321
paid          0.170446
activities   -0.256546
nursery      -0.189032
higher        1.093229
internet      0.617460
romantic     -0.822011
famrel        0.149796
freetime      0.256741
goout        -0.516413
Dalc         -0.174177
Walc          0.042548
health       -0.141748
absences      0.038904
dtype: float64